.txt-searchbar{
    color: white;
}

.color-liv1{
 background-color: #E10098;
}

.pad{
    padding: 10px;
}

.txt-home{
    font-size: 2rem;
    color: white;
}

.btn-search{
    background-color: #E10098 !important;
}